<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Profile Maulana</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>
<body>
    <header>
        <div class="user">
            <img src="~/images/Profile.jpeg" alt="" />
            <h3 class="name">Maulana Aripianto</h3>
            <p class="post">Website Developer</p>
        </div>

        <nav class="navbar">
            <ul>
                <li><a href="#home">beranda</a></li>
                <li><a href="#about">profil</a></li>
                <li><a href="#education">pengalaman</a></li>
                <li><a href="#portfolio">portfolio</a></li>
                <li><a href="#contact">kontak</a></li>
            </ul>
        </nav>
    </header>

    <!-- header section ends -->

    <div id="menu" class="fas fa-bars"></div>

    <!-- home section starts  -->

    <section class="home" id="home">

        <h3>Hello Semuanya !</h3>
        <h1>Nama Saya <span>Maulana Aripianto</span></h1>
        <p>
            Saya lulusan Teknik Informatika Universitas YARSI 2020. Memiliki pengalaman
            sebagai Web Developer dengan manggunakan bahasa C# develop program. Saya memiliki minat berkarir sebagai Software Developer dan
            mampu mengembangkan sebuah aplikasi.
        </p>
        <a href="#about"><button class="btn">Tentang Saya <i class="fas fa-user"></i></button></a>

    </section>

    <!-- home section ends -->
    <!-- about section starts  -->

    <section class="about" id="about">

        <h1 class="heading"> <span>Tentang</span> Saya </h1>

        <div class="row">

            <div class="info">
                <h3> <span> nama : </span> maulana aripianto </h3>
                <h3> <span> umur : </span> 24 tahun </h3>
                <h3> <span> qualification : </span> BMS </h3>
                <h3> <span> post : </span> website developer </h3>
                <h3> <span> Bahasa : </span> Indonesia, Inggris, Jepang </h3>
                <a href="#"><button class="btn"> download CV <i class="fas fa-download"></i> </button></a>
            </div>

            <div class="counter">

                <div class="box">
                    <span>6+</span>
                    <h3>bulan pengalaman</h3>
                </div>

                <div class="box">
                    <span>2+</span>
                    <h3>projek selesai</h3>
                </div>
            </div>

        </div>

    </section>

    <!-- about section ends -->
    <!-- education section starts  -->

    <section class="education" id="education">

        <h1 class="heading"> pengalaman <span>kerja</span> </h1>

        <div class="box-container">

            <div class="box">
                <i class="fas fa-briefcase"></i>
                <span>Oktober 2021-Sekarang</span>
                <h3>Website Developer C# PT Mitra Integrasi Informatika</h3>
                <p>Membuat aplikasi Overtime Request dengan menggunakan bahasa pemprograman C# dan MS SQL Server</p>
            </div>

            <div class="box">
                <i class="fas fa-briefcase"></i>
                <span>Desember 2020-Maret 2021</span>
                <h3>Staff IT Administrator (PT.Surya Buana Lintas (Gresik, Indonesia</h3>
                <p>
                    Sebagai admin jasa pelayaran 4 kapal barang milik perusahaan di sistem informasi pelayanan
                    kapal dan barang melalui website Inaportnet (Kementerian Perhubungan).
                </p>
            </div>

            <div class="box">
                <i class="fas fa-briefcase"></i>
                <span>(Juli 2019-September 2019)</span>
                <h3>Web Developer Internship PT.Pelabuhan Indonesia II</h3>
                <p>
                    Merancang dan membuat aplikasi website dengan framework CodeIngniter untuk registrasi
                    pengunjung atau vendor perusahaan di Customer Relationship Management.
                </p>
            </div>
        </div>
        <h1 class="heading"> pendidikan <span>terakhir</span> </h1>

        <div class="box-container">

            <div class="box">
                <i class="fas fa-graduation-cap"></i>
                <span>2016-2020</span>
                <h3>Teknik Informatika Universitas YARSI</h3>
                <p>Saya lulusan Teknik Informatia Universitas Yarsi yang berfokus pada Managament Database Information (MDI)</p>
            </div>
        </div>
    </section>

    <!-- education section ends -->
    <!-- portfolio section starts  -->

    <section class="portfolio" id="portfolio">

        <h1 class="heading"> portofolio <span>saya</span> </h1>

        <div class="box-container">

            <div class="box">
                <img src="~/images/Capture4.jpg" alt="">
                <p>Landing Page</p>
            </div>

            <div class="box">
                <img src="~/images/Capture1.jpg" alt="">
                <p>Login Web Overtime Request</p>
            </div>

            <div class="box">
                <img src="~/images/Capture2.jpg" alt="">
                <p>Halaman Web Overtime Request</p>
            </div>

            <div class="box">
                <img src="~/images/Capture3.jpg" alt="Halaman Web Overtime Request">
                <p>Halaman Web Overtime Request</p>
            </div>

            <div class="box">
                <img src="~/images/Capture6.jpg" alt="">
                <p>Login APP Siaga Android</p>
            </div>

            <div class="box">
                <img src="~/images/Capture6.jpg" alt="">
                <p>Home App Siaga</p>
            </div>

        </div>

    </section>

    <!-- portfolio section ends -->
    <!-- contact section starts  -->

    <section class="contact" id="contact">

        <h1 class="heading"> <span>Kontak </span> Saya </h1>

        <div class="row">

            <div class="content">

                <h3 class="title">info kontak</h3>

                <div class="info">
                    <h3> <i class="fas fa-envelope"></i> maulanaaripianto@gmail.com </h3>
                    <h3> <i class="fas fa-phone"></i> +6281-6189-3804 </h3>
                    <h3> <i class="fab fa-linkedin"></i> Maulana Aripianto </h3>
                    <h3> <i class="fab fa-github"></i> maulanaaripianto </h3>
                </div>

            </div>

            <form action="">

                <input type="text" placeholder="name" class="box">
                <input type="email" placeholder="email" class="box">
                <input type="text" placeholder="project" class="box">
                <textarea name="" id="" cols="30" rows="10" class="box message" placeholder="message"></textarea>
                <button type="submit" class="btn"> send <i class="fas fa-paper-plane"></i> </button>

            </form>

        </div>

    </section>

    <!-- contact section ends -->
    <!-- scroll top button  -->

    <a href="#home" class="top">
        <img src="images/scroll-top-img.png" alt="">
    </a>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- jquery cdn link  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
